.wrapper {
    padding: 15px;
    border-radius: 4px;
}
.image {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.title_button {
    background-color:#f3eaea;
    height: 100px;
    margin-top: -3px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}

.title_button>h4 {
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
}
.title_button>h4>a{
text-decoration: none;
}
.title_button>button:hover{
    background-color: rgb(13, 175, 86);
}
#button_like{
    width: 80%;
    border-radius: 4px;
    font-family: 'Sriracha', cursive;
    height: 35px;
    margin: auto;
}
#button_like>svg{
font-size: 18px;
} 
#button_like>span{
    font-size: 18px;
}


